<link rel="stylesheet" type="text/css" href="styles.css">
<div class="element">Welcome To My Favorite Element Information!
</div>
<br>
<div class="what">What We Will Be Learning Today:</div>
<ul>
  <li>
    <a href="/chemicals">Chemical Index!</a>
    <br>
  <li>
    <a href="/fire_pic">Fire Combination Index!</a>
  </li>
</ul>

<img class="fake" src=<%= @img_src %>>