<form action="/addpost" method="post">

  <label>Title</label>
  <input type="text" name="title">
  <label>Author</label>
  <input type="text" name="author">
  <br>
  <textarea name="content" rows="20" cols="100" placeholder="Write something here"></textarea>
  <br>
  <input type="submit" value="Submit Post">

</form>



