<!DOCTYPE html>
<html>
<head>
  <title>Adam's Blog</title>
</head>
<body>
  <div>
    <a href="/">Home</a>
    <br>
    <a href="/createpost">Make a New Post</a>
  </div>
  <%= yield %>

</body>
</html>

<br>
<br>
<a href="/">Back</a>